# ËôïÁêÜÈÅ∫Â§±Ë≥áÊñô
* Âà©Áî®pandas

In [1]:
import pandas as pd
import numpy as np

In [ ]:
string_data = pd.Series(['aardvark','artichoke',np.nan,'avocado'])
string_data

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object

In [ ]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [ ]:
#None‰πüÊòØNAÈÅ∫Â§±ÂÄºÊÑèÊÄù
string_data[0] = None
string_data.isnull()

0     True
1    False
2     True
3    False
dtype: bool

## ÈÅéÊøæÈÅ∫Â§±ÂÄº
* ÂèØ‰ª•Áî®pandasÈÅéÊøæ(bool)ÁöÑÊñπÂºè
* dropna‰πüÊòØ‰∏ÄÂÄã‰∏çÈåØÁöÑÊñπÂºè
* ÂèÉËÄÉ:
  * [Â∞èÂ∑•ÂÖ∑ÊâæÂÄº](https://amberwest.github.io/2019/02/23/%E4%BD%BF%E7%94%A8pandas%E7%AD%9B%E9%80%89%E5%87%BA%E6%8C%87%E5%AE%9A%E5%88%97%E5%80%BC%E6%89%80%E5%AF%B9%E5%BA%94%E7%9A%84%E8%A1%8C/)
  * [Â°´ÂÄºÂ•ΩÁî®](https://www.easytweaks.com/update-values-dataframe-pandas-python/)
  * [RÂ∞çÊØîÁ®ãÂºèÂØ´Ê≥ï](https://medium.com/datainpoint/%E5%A6%82%E4%BD%95%E6%8E%8C%E6%8E%A7%E8%B3%87%E6%96%99-%E8%B3%87%E6%96%99%E6%A1%86%E7%9A%84%E6%93%8D%E4%BD%9C%E6%8A%80%E5%B7%A7-%E4%B8%8A-a85a85b7073c)
* NAËôïÁêÜÊñπÊ≥ï

| ÂèÉÊï∏üê± | ÊèèËø∞‚ò∫ |
| ------------- |:-------------:|
|dropna|ÊåáÂÆöËª∏‰∏äÁöÑÊ®ôÁ±§ÁÇ∫ÂñÆ‰Ωç,ÈÅéÊøæÊØèÂÄãÊåáÂÆöÁöÑÊ®ôÊòØÂê¶ÊúâÈÅ∫Â§±Ë≥áÊñô,Â∞çÊñºÈÅ∫Â§±Ë≥áÊñôÁöÑÂÆπÂøçÊúâ‰∏çÂêåÈôêÂÆöÂÄº„ÄÇ|
|fillna|Â∞áÈÅóÂ§±Ë≥áÊñô‰ª•ÊåáÂÆöÁöÑÂÄºÂèñ‰ª£,Êàñ‰ΩøÁî®ÂÜÖÊèíÂÄºÊñπÊ≥ïÂ¶Ç'ffill'Êàñ'bfill'|
|isnull|ÂõûÂÇ≥Â∏ÉÊûóÂÄº,ÊåáÂá∫ÁõÆÊ®ôÊòØÂê¶ÁÇ∫ÈÅ∫Â§±ÂÄº|
|notnull|isnullÁöÑÂèçÂêëÂáΩÂºè|

In [2]:
from numpy import nan as NA

In [ ]:
data = pd.Series([1,NA,3.5,NA,7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data[data.notnull()]#Âè¶Â§ñ‰∏ÄÁ®ÆÂØ´Ê≥ï

0    1.0
2    3.5
4    7.0
dtype: float64

In [ ]:
data = pd.DataFrame([[1.,6.5,3.],[1.,NA,NA],[NA,NA,NA],[NA,6.5,3.]])
cleaned = data.dropna()

In [ ]:
cleaned

     0    1    2
0  1.0  6.5  3.0

In [ ]:
data.dropna(how='all')#ÊåáÊúÉÈÅéÊøæÂÖ®ÈÉ®ÈÉΩÊòØNAÁöÑÂàó

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
data[4]=NA
data

     0    1    2   4
0  1.0  6.5  3.0 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  6.5  3.0 NaN

In [ ]:
data.dropna(axis=1,how='all')

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
data.iloc[3,1]

6.5

In [ ]:
data.loc[3,[0,1]] = 130
data.iloc[3,1]

130.0

In [ ]:
data

       0      1    2   4
0    1.0    6.5  3.0 NaN
1    1.0    NaN  NaN NaN
2    NaN    NaN  NaN NaN
3  130.0  130.0  3.0 NaN

In [ ]:
df = pd.DataFrame(np.random.randn(7,3))
df

          0         1         2
0 -1.030485 -2.134055 -0.866947
1 -0.278016  1.554071  1.047775
2 -0.731025 -1.100680  0.599828
3  0.457576 -0.123065  0.508806
4 -1.304961 -0.120397 -1.574489
5  0.036895 -0.773081 -1.518761
6  1.290228  0.492105  1.544380

In [ ]:
df.iloc[:4,1] = NA
df.iloc[:2,2] = NA
df

          0         1         2
0 -1.030485       NaN       NaN
1 -0.278016       NaN       NaN
2 -0.731025       NaN  0.599828
3  0.457576       NaN  0.508806
4 -1.304961 -0.120397 -1.574489
5  0.036895 -0.773081 -1.518761
6  1.290228  0.492105  1.544380

In [ ]:
df.dropna()

          0         1         2
4 -1.304961 -0.120397 -1.574489
5  0.036895 -0.773081 -1.518761
6  1.290228  0.492105  1.544380

In [ ]:
df.dropna(thresh=2)

          0         1         2
2 -0.731025       NaN  0.599828
3  0.457576       NaN  0.508806
4 -1.304961 -0.120397 -1.574489
5  0.036895 -0.773081 -1.518761
6  1.290228  0.492105  1.544380

## ÁÇ∫ÈÅ∫Â§±ÂÄºÂ°´ÂÄº

In [ ]:
df.fillna(0)

          0         1         2
0 -1.030485  0.000000  0.000000
1 -0.278016  0.000000  0.000000
2 -0.731025  0.000000  0.599828
3  0.457576  0.000000  0.508806
4 -1.304961 -0.120397 -1.574489
5  0.036895 -0.773081 -1.518761
6  1.290228  0.492105  1.544380

In [ ]:
df.fillna({1:0.5,2:0})

          0         1         2
0 -1.030485  0.500000  0.000000
1 -0.278016  0.500000  0.000000
2 -0.731025  0.500000  0.599828
3  0.457576  0.500000  0.508806
4 -1.304961 -0.120397 -1.574489
5  0.036895 -0.773081 -1.518761
6  1.290228  0.492105  1.544380

In [ ]:
_ = df.fillna(0,inplace=True)#Á¢∫Ë™ç‰øÆÊîπ
df

          0         1         2
0 -1.030485  0.000000  0.000000
1 -0.278016  0.000000  0.000000
2 -0.731025  0.000000  0.599828
3  0.457576  0.000000  0.508806
4 -1.304961 -0.120397 -1.574489
5  0.036895 -0.773081 -1.518761
6  1.290228  0.492105  1.544380

In [ ]:
df = pd.DataFrame(np.random.randn(6,3))
df.iloc[2:,1]=NA
df.iloc[4:,2]=NA
df

          0         1         2
0 -1.021683 -0.087421 -1.229360
1  1.400003  0.263849 -0.872159
2  0.006941       NaN  1.687211
3  0.451472       NaN  0.794445
4  0.448421       NaN       NaN
5  1.860941       NaN       NaN

In [ ]:
df.fillna(method='ffill')#Ëá™ÂãïÂ°´ÂÄº(ÊúÄÂæå)

          0         1         2
0 -1.021683 -0.087421 -1.229360
1  1.400003  0.263849 -0.872159
2  0.006941  0.263849  1.687211
3  0.451472  0.263849  0.794445
4  0.448421  0.263849  0.794445
5  1.860941  0.263849  0.794445

In [ ]:
df.fillna(method='ffill',limit=2)#Ëá™ÂãïÂ°´ÂÄºlimitÂè™ÊúâÁ¨¨‰∫åÊ¨ÑÂ°´ÂÄº

          0         1         2
0 -1.021683 -0.087421 -1.229360
1  1.400003  0.263849 -0.872159
2  0.006941  0.263849  1.687211
3  0.451472  0.263849  0.794445
4  0.448421       NaN  0.794445
5  1.860941       NaN  0.794445

In [ ]:
data = pd.Series([1.,NA,3.5,NA,7])
data.fillna(data.mean())#Âπ≥ÂùáÊï∏Â°´ÂÄº

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [ ]:
data.fillna(data.median())#‰∏≠‰ΩçÊï∏Â°´ÂÄº

0    1.0
1    3.5
2    3.5
3    3.5
4    7.0
dtype: float64

# Ë≥áÊñôËΩâÊèõ
* fillnaÂáΩÂºèÂèÉÊï∏

| ÂèÉÊï∏üê± | ÊèèËø∞‚ò∫ |
| ------------- |:-------------:|
|method|Áî®‰æÜÂ°´ÂÖÖÈÅ∫Â§±ÂÄºÁöÑÂ∏∏Êï∏ÊàñÈ°ûdictÁâ©‰ª∂|
|value|ÂÖßÊèíÁöÑÊñπÊ≥ï;Â¶ÇÊûúÂáΩÂºèÊ≤íÊúâ‰ΩøÁî®ÂÖ∂‰ªñÂèÉÊï∏ÁöÑË©±,È†êË®≠ÂÄºÊòØ ffill'|
|axis|Ë¶ÅÂ°´ÂÖÖÁöÑËª∏Âêë;È†êË®≠ÁÇ∫axis=0|
|inplace|Áõ¥Êé•‰øÆÊîπÂëºÂè´ÁöÑÁâ©‰ª∂,‰∏çÁî¢Âá∫Ë§áË£ΩË≥áÊñô|
|limit|ÂêëÂâçÊàñÂêëÂæåÂ°´ÂÖÖÊôÇ,ÊúÄÂ§ßÁöÑÂ°´ÂÖÖÊï∏Èáè|

## ÁßªÈô§ÈáçË§áÂÄº

In [ ]:
data = pd.DataFrame({'k1' : ['one','two'] * 3+['two'],'k2':[1,1,2,3,3,4,4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [ ]:
data.duplicated()#ÂÄºÊòØÂê¶ÊúâÈáçË§á

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [ ]:
data.drop_duplicates()#ÂéªÈáçË§á

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [ ]:
data['v1']=range(7)
data.drop_duplicates(['k1'])#Âè™Â∞çk1‰ΩúÈáçË§áÂÄºÁöÑÈÅéÊøæ

    k1  k2  v1
0  one   1   0
1  two   1   1

In [ ]:
data.drop_duplicates(['k1','k2'],keep='last')#Âè™‰øùÁïôÊúÄÂæå‰∏ÄÂÄãÁöÑÈáçË§áÂÄº

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

## ‰ΩøÁî®ÂáΩÂºèÊàñÂ∞çÊáâÈóú‰øÇËΩâÊèõÂÄº

In [ ]:
data = pd.DataFrame({'food':['bacon','pulled pork','bacon','Pastrami','corned beef','Bacon','pastrami','honey ham','nova lox'],
                     'ounce':[4,3,12,6,7.5,8,3,5,6]})
data

          food  ounce
0        bacon    4.0
1  pulled pork    3.0
2        bacon   12.0
3     Pastrami    6.0
4  corned beef    7.5
5        Bacon    8.0
6     pastrami    3.0
7    honey ham    5.0
8     nova lox    6.0

In [ ]:
meat_to_animal = {'bacon':'pig','pulled pork':'pig','pastrami':'cow','corned beef':
                'cow','honey ham':'pig','nova lox':'salmon'}

In [ ]:
lowercased = data['food'].str.lower()
lowercased

0          bacon
1    pulled pork
2          bacon
3       pastrami
4    corned beef
5          bacon
6       pastrami
7      honey ham
8       nova lox
Name: food, dtype: object

In [ ]:
data['animal'] = lowercased.map(meat_to_animal)
data

          food  ounce  animal
0        bacon    4.0     pig
1  pulled pork    3.0     pig
2        bacon   12.0     pig
3     Pastrami    6.0     cow
4  corned beef    7.5     cow
5        Bacon    8.0     pig
6     pastrami    3.0     cow
7    honey ham    5.0     pig
8     nova lox    6.0  salmon

In [ ]:
data['food'].map(lambda x:meat_to_animal[x.lower()])#ÂêåÊÑèÊÄù

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

## Âèñ‰ª£ÂÄº

In [ ]:
data = pd.Series([1.,-999.,2.,-999.,1000.,3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4    1000.0
5       3.0
dtype: float64

In [ ]:
data.replace(-999,np.nan)#Âèñ‰ª£ÊàêNA

0       1.0
1       NaN
2       2.0
3       NaN
4    1000.0
5       3.0
dtype: float64

In [ ]:
data.replace([-999.,-1000],np.nan)#Â§öÂÄºÂèñ‰ª£ÊàêNA

0       1.0
1       NaN
2       2.0
3       NaN
4    1000.0
5       3.0
dtype: float64

In [ ]:
data.replace([-999.,-1000],[np.nan,0])#ÊîπÂÇ≥Êàêlist

0       1.0
1       NaN
2       2.0
3       NaN
4    1000.0
5       3.0
dtype: float64

In [ ]:
#‰πüÂèØ‰ª•Áî®dictÁöÑÂûãÊÖãÂÇ≥ÂÖ•
data.replace({-999:np.nan,-1000:0})

0       1.0
1       NaN
2       2.0
3       NaN
4    1000.0
5       3.0
dtype: float64

## Êõ¥ÂêçËª∏index

In [ ]:
data =pd.DataFrame(np.arange(12).reshape((3,4)),
                  index=['Ohio','Colorado','New York'],
                  columns=['one','two','three','four'])
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
New York    8    9     10    11

In [ ]:
transform = lambda x:x[:4].upper()#Â§ßÂØ´upper
data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [ ]:
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [ ]:
data.rename(index=str.title,columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [ ]:
data.rename(index={'OHIO':'INDIANA'},columns={'three':'peekaboo'})#ÊîπÂêç

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [ ]:
data.rename(index={'OHIO':'INDIANA'},inplace=True)
data

         one  two  three  four
INDIANA    0    1      2     3
COLO       4    5      6     7
NEW        8    9     10    11

## Èõ¢Êï£ÂåñÂíåÂàÜÁµÑ

In [ ]:
ages = [20,22,25,27,21,23,37,31,61,45,41,32]

In [ ]:
bins = [18,25,35,60,100]

In [ ]:
cats = pd.cut(ages,bins)#cutÂàáÂâ≤
cats

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [ ]:
cats.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [ ]:
cats.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [ ]:
pd.value_counts(cats)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

In [ ]:
pd.cut(ages,[18,26,36,61,100],right=False)#ÂàÜÁµÑ‰πãÂæåÊØèÁµÑÊï∏Èáè

[[18, 26), [18, 26), [18, 26), [26, 36), [18, 26), ..., [26, 36), [61, 100), [36, 61), [36, 61), [26, 36)]
Length: 12
Categories (4, interval[int64, left]): [[18, 26) < [26, 36) < [36, 61) < [61, 100)]

In [ ]:
group_names = ['Youth','YoungAdult','MiddleAged','Senior']
pd.cut(ages,bins,labels=group_names)#ÁÇ∫ÂàÜÁµÑÂèñÂêç

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [ ]:
data = np.random.randn(20)
pd.cut(data,4,precision=3)

[(-2.046, -1.026], (-2.046, -1.026], (1.005, 2.021], (1.005, 2.021], (-0.0106, 1.005], ..., (-0.0106, 1.005], (1.005, 2.021], (1.005, 2.021], (-0.0106, 1.005], (-1.026, -0.0106]]
Length: 20
Categories (4, interval[float64, right]): [(-2.046, -1.026] < (-1.026, -0.0106] < (-0.0106, 1.005] <
                                           (1.005, 2.021]]

In [ ]:
data = np.random.randn(1000)#Â∏∏ÊÖãÂàÜÂ∏É
cats = pd.qcut(data,4)#ÂàÜÊàêÂõõÁ≠â‰ªΩ
cats

[(0.658, 3.039], (-3.105, -0.691], (0.658, 3.039], (-3.105, -0.691], (0.658, 3.039], ..., (0.658, 3.039], (0.658, 3.039], (-0.0201, 0.658], (-0.691, -0.0201], (-3.105, -0.691]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.105, -0.691] < (-0.691, -0.0201] < (-0.0201, 0.658] <
                                           (0.658, 3.039]]

In [ ]:
pd.value_counts(cats)

(-3.105, -0.691]     250
(-0.691, -0.0201]    250
(-0.0201, 0.658]     250
(0.658, 3.039]       250
dtype: int64

In [ ]:
pd.qcut(data,[0,0.1,0.5,0.9,1.])

[(-0.0201, 1.339], (-1.351, -0.0201], (1.339, 3.039], (-1.351, -0.0201], (-0.0201, 1.339], ..., (-0.0201, 1.339], (-0.0201, 1.339], (-0.0201, 1.339], (-1.351, -0.0201], (-3.105, -1.351]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.105, -1.351] < (-1.351, -0.0201] < (-0.0201, 1.339] <
                                           (1.339, 3.039]]

## ÂÅµÊ∏¨ÂíåÊøæÈô§Èõ¢Áæ§ÂÄº

In [ ]:
data = pd.DataFrame(np.random.randn(1000,4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.009136     0.020379     0.023106    -0.007995
std       0.998354     0.977790     0.976468     0.996381
min      -2.736367    -2.910241    -3.142725    -2.814854
25%      -0.665336    -0.638666    -0.672314    -0.639769
50%       0.005687     0.026626     0.033169    -0.024630
75%       0.644297     0.666816     0.703277     0.657771
max       2.921755     3.614979     2.700320     4.578531

In [ ]:
col = data[2]
col[np.abs(col) > 3]

398   -3.142725
Name: 2, dtype: float64

In [ ]:
data[np.abs(data)>3] = np.sign(data)*3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.009136     0.019550     0.023249    -0.009847
std       0.998354     0.975040     0.976015     0.989467
min      -2.736367    -2.910241    -3.000000    -2.814854
25%      -0.665336    -0.638666    -0.672314    -0.639769
50%       0.005687     0.026626     0.033169    -0.024630
75%       0.644297     0.666816     0.703277     0.657771
max       2.921755     3.000000     2.700320     3.000000

In [ ]:
np.sign(data).head()

     0    1    2    3
0  1.0  1.0  1.0  1.0
1 -1.0  1.0  1.0 -1.0
2 -1.0 -1.0 -1.0  1.0
3  1.0 -1.0 -1.0 -1.0
4 -1.0  1.0 -1.0  1.0

## ÊéíÂàóËàáÈö®Ê©üÂèñÊ®£

In [ ]:
df = pd.DataFrame(np.arange(5*4).reshape((5,4)))
sampler = np.random.permutation(5)
sampler

array([3, 1, 4, 2, 0])

In [ ]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [ ]:
df.take(sampler)#ilocÁÇ∫Âü∫Á§éÁ¥¢Âºï,ÊàñÁ≠âÊïàÁöÑtakeÂáΩÂºè

    0   1   2   3
3  12  13  14  15
1   4   5   6   7
4  16  17  18  19
2   8   9  10  11
0   0   1   2   3

In [ ]:
df.sample(n=3)

    0   1   2   3
4  16  17  18  19
0   0   1   2   3
3  12  13  14  15

In [ ]:
chioces = pd.Series([5,7,-1,6,4])
draws = chioces.sample(n=0,replace=True)
draws

Series([], dtype: int64)

## ÊåáÊ®ô/ËôõÊì¨ËÆäÊï∏

In [ ]:
df = pd.DataFrame({'key':['b','b','a','c','a','b'],'data1':range(6)})
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [ ]:
dummies=pd.get_dummies(df['key'],prefix='key')
df_with_dummy=df[['data1']].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0      0      1      0
1      1      0      1      0
2      2      1      0      0
3      3      0      0      1
4      4      1      0      0
5      5      0      1      0

In [10]:
#‰øÆÊîπÂ∑•‰ΩúË∑ØÂæë
import os
from google.colab import drive
drive.mount('/content/drive')

path="/content/drive/MyDrive/python/dataset"
os.chdir(path)
os.listdir()#Âà§Êñ∑Ë£°Èù¢ÂÖßÂÆπ

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

['iris.csv',
 'starwars.xlsx',
 'airquality.csv',
 'mtcars.csv',
 'diamonds.csv',
 'out.csv',
 'banklist.csv',
 'Performance_MNR.xml',
 'movies.csv',
 'ratings.csv',
 'tags.csv',
 'links.csv']

In [15]:
mnames = ['movie_id','title','genres']
movies = pd.read_table('movies.csv',sep=',',header=None,names=mnames)
movies[:10]

,movie_id,title,genres
0,movieId,title,genres
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,2,Jumanji (1995),Adventure|Children|Fantasy
3,3,Grumpier Old Men (1995),Comedy|Romance
4,4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,5,Father of the Bride Part II (1995),Comedy
6,6,Heat (1995),Action|Crime|Thriller
7,7,Sabrina (1995),Comedy|Romance
8,8,Tom and Huck (1995),Adventure|Children
9,9,Sudden Death (1995),Action

In [17]:
all_genres = []
for x in movies.genres:
  all_genres.extend(x.split('|'))
genres = pd.unique(all_genres)
genres

array(['genres', 'Adventure', 'Animation', 'Children', 'Comedy',
       'Fantasy', 'Romance', 'Drama', 'Action', 'Crime', 'Thriller',
       'Horror', 'Mystery', 'Sci-Fi', 'War', 'Musical', 'Documentary',
       'IMAX', 'Western', 'Film-Noir', '(no genres listed)'], dtype=object)

In [24]:
zero_matrix = np.zeros((len(movies),len(genres)))
dummies = pd.DataFrame(zero_matrix,columns=genres)
gen = movies.genres[1]
gen.split('|')

['Adventure', 'Animation', 'Children', 'Comedy', 'Fantasy']

In [25]:
dummies.columns.get_indexer(gen.split('|'))

array([1, 2, 3, 4, 5])

In [26]:
for i,gen in enumerate(movies.genres):
  indices = dummies.columns.get_indexer(gen.split('|'))
  dummies.iloc[i,indices]=1

In [31]:
movies_windic = movies.join(dummies.add_prefix('Genre_'))
movies_windic.iloc[0]

movie_id                    movieId
title                         title
genres                       genres
Genre_genres                    1.0
Genre_Adventure                 0.0
Genre_Animation                 0.0
Genre_Children                  0.0
Genre_Comedy                    0.0
Genre_Fantasy                   0.0
Genre_Romance                   0.0
Genre_Drama                     0.0
Genre_Action                    0.0
Genre_Crime                     0.0
Genre_Thriller                  0.0
Genre_Horror                    0.0
Genre_Mystery                   0.0
Genre_Sci-Fi                    0.0
Genre_War                       0.0
Genre_Musical                   0.0
Genre_Documentary               0.0
Genre_IMAX                      0.0
Genre_Western                   0.0
Genre_Film-Noir                 0.0
Genre_(no genres listed)        0.0
Name: 0, dtype: object

In [33]:
np.random.seed(12345)
values = np.random.randn(10)
values

array([-0.20470766,  0.47894334, -0.51943872, -0.5557303 ,  1.96578057,
        1.39340583,  0.09290788,  0.28174615,  0.76902257,  1.24643474])

In [37]:
bins =[0,0.2,0.4,0.6,0.8,1]
pd.get_dummies(pd.cut(values,bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           0
1           0           0           1           0           0
2           0           0           0           0           0
3           0           0           0           0           0
4           0           0           0           0           0
5           0           0           0           0           0
6           1           0           0           0           0
7           0           1           0           0           0
8           0           0           0           1           0
9           0           0           0           0           0

# Â≠ó‰∏≤Êìç‰Ωú
* PythonÂÖßÂª∫Â≠ó‰∏≤ÊñπÊ≥ï

| ÂèÉÊï∏üê± | ÊèèËø∞‚ò∫ |
| ------------- |:-------------:|
|count|Â≠ó‰∏≤‰∏≠Â≠êÂ≠ó‰∏≤‰∏çÈáçË§áÂá∫ÁèæÁöÑÊ¨°Êï∏|
|endswith|Â¶ÇÊûúÂ≠ó‰∏≤ÊúâÁâπÂÆöÂæåÁ∂¥ÁµêÂ∞æÁöÑË©±ÂõûÂÇ≥True|
|startswith|Â¶ÇÊûúÂ≠ó‰∏≤ÊúâÁâπÂÆöÂâçÁ∂¥ÈñãÈ†≠ÁöÑË©±ÂõûÂÇ≥True|
|join|Áî®Êú¨Â≠ó‰∏≤Áï∂ÂàÜÈöîÁ¨¶ËôüÈÄ£Êé•ÂÖ∂‰ªñÁöÑÂ≠ó‰∏≤|
|index|Â≠ó‰∏≤‰∏≠ÊåáÂÆöÂ≠êÂ≠ó‰∏≤Á¨¨‰∏ÄÂÄãÂ≠óÂá∫ÁèæÁöÑ‰ΩçÁΩÆ;Â¶ÇÊûúÊâæ‰∏çÂà∞ÂÄºÁöÑË©±‰∏üÂá∫ValueError|
|find|Â≠ó‰∏≤‰∏≠ÊåáÂÆöÂ≠êÂ≠ó‰∏≤**È¶ñÊ¨°**Âá∫ÁèæÊôÇÁ¨¨‰∏ÄÂÄãÂ≠óÂá∫ÁèæÁöÑ‰ΩçÁΩÆ;ÂäüËÉΩÂ¶Çindex,‰ΩÜÂ¶ÇÊûúÊâæ‰∏çÂà∞ÂÄºÁöÑË©±ÂõûÂÇ≥-1|
|rfind|Â≠ó‰∏≤‰∏≠ÊåáÂÆöÂ≠êÂ≠ó‰∏≤**ÊúÄÂæå‰∏ÄÊ¨°**Âá∫ÁèæÊôÇÁ¨¨‰∏ÄÂÄãÂ≠óÊØçÂá∫ÁèæÁöÑ‰ΩçÁΩÆ;Â¶ÇÊûúÊâæ‰∏çÂà∞ÂÄºÁöÑË©±ÂõûÂÇ≥-1|
|replace|Âú®Â≠ó‰∏≤Âá∫ÁèæËôïÁî®Âè¶Â§ñ‰∏ÄÂÄãÂ≠ó‰∏≤Âèñ‰ª£|
|strip, rstrip, 1strip|Ê∂àÂéªÁ©∫ÁôΩÂåÖÊã¨ÊèõË°å;ÂíåÊØèÂÄãÂÖÉÁ¥†Âü∑Ë°åx.strip()(rstrip„ÄÅlstrip)Á≠âÊïà|
|split|‰æùÊåáÂÆöÁöÑÂàÜÈöîÁ¨¶ËôüÂ∞áÂ≠ó‰∏≤ÊãÜËß£ÊàêÂ≠êÂ≠ó‰∏≤list|
|lower|Â∞áÂ≠óÊØçËÆäÊàêÂ∞èÂØ´|
|upper|Â∞áÂ≠óÊØçËÆäÊàêÂ§ßÂØ´|
|casefold|Â∞áÂ≠óÊØçËÆäÊàêÂ∞èÂØ´,‰∏¶Â∞áÂú∞ÂçÄÂ≠óÂÖÉËΩâÊèõÁÇ∫ÈÄöÁî®ÂûãÂºè|
|ljust, rjust|ÂêëÂ∑¶ÊàñÂêëÂè≥Â∞çÈΩä;‰∏¶Â∞áÂ≠ó‰∏≤Âè¶Â§ñ‰∏ÄÂÅ¥‰ª•Á©∫ÁôΩÂ°´Êªø(ÊàñÊåáÂÆöÂÖ∂‰ªñÂ°´ÂÖÖÂ≠óÂÖÉ),ÂèØÊåáÂÆöÂõûÂÇ≥ÁöÑÂ≠ó‰∏≤ÊúÄÂ∞èÈï∑Â∫¶|

In [ ]:
val = 'a,b, guido'

In [ ]:
val.split(',')

['a', 'b', ' guido']

In [ ]:
pieces = [x.strip() for x in val.split(',')]#strip()ÂèØ‰ª•Ê∂àÈô§Á©∫ÁôΩ
pieces

['a', 'b', 'guido']

In [ ]:
first,second,third = pieces

In [ ]:
first + '::' + second + '::' + third#Â≠ó‰∏≤Áõ∏Âä†

'a::b::guido'

In [ ]:
'::'.join(pieces)#Âè¶‰∏ÄÁ®ÆÊñπÊ≥ïÂà©Áî®

'a::b::guido'

In [ ]:
'guido' in val

True

In [ ]:
val

'a,b, guido'

In [ ]:
val.index(',')

1

In [ ]:
#val.index(':')
val.find(':')#findÂíåindexÁöÑÂ∑ÆÂà•ÔºåindexÊâæ‰∏çÂÄíÂ≠ó‰∏≤ÁöÑË©±Â∞±ÊúÉ‰∏üÂá∫‰∏ÄÂÄã‰æãÂ§ñ,findÊúÉÂõûÂÇ≥-1

-1

In [ ]:
val.count(',')

2

In [ ]:
val.replace(',',':')

'a:b: guido'

In [ ]:
val.replace(',','')

'ab guido'

## Ê≠£Ë¶èË°®ÈÅîÂºè
* ÈÅ©Áî®Ê≠£Ë¶èË°®ÈÅîÂºèÁöÑÊñπÊ≥ï

| ÊñπÊ≥ïüê± | ÊèèËø∞‚ò∫ |
| ------------- |:-------------:|
|findall|‰ª•listÂõûÂÇ≥ÊâÄÊúâÂ≠ó‰∏≤‰∏≠‰∏çÈáçË§áÂåπÈÖçÁµêÊûú|
|finditer|È°û‰ººfindall,‰ΩÜÂõûÂÇ≥Áñä‰ª£Âô®|
|match|Ê™¢Êü•Â≠ó‰∏≤ÁöÑÈñãÈ†≠ÊòØÂê¶ÂåπÈÖç,ÂÖ∑ÊúâÂ∞áÂåπÈÖçÂà∞ÁöÑÁµêÊûúÂàÜÊÆµÁöÑËÉΩÂäõ;Â¶ÇÊûúÂåπÈÖçÊàêÂäüÂõûÂÇ≥matchÁâ©‰ª∂,Âê¶ÂâáÂõûÂÇ≥None|
|search|Âú®Â≠ó‰∏≤‰∏≠ÊâæÂåπÈÖç;Â¶ÇÊûúÊâæÂà∞ÂâáÂõûÂÇ≥matchÁâ©‰ª∂;Âíåmatch‰∏çÂêåÁöÑÂú∞ÊñπÊòØ,ÊúÉÂú®Êï¥ÊÆµÂ≠ó‰∏≤‰∏≠ÊâæÂ∞ãÂåπÈÖç,ËÄå‰∏çÊòØÂè™Âú®ÈñãÈ†≠Êâæ|
|split|Âú®ÊåáÂÆöÁöÑÊ®£ÂºèËôïÂ∞áÂ≠ó‰∏≤ÂàáÈñãÂàÜÊÆµ|
|sub, subn|‰ΩøÁî®Âèñ‰ª£Ë°®ÈÅîÂºè,Â∞áÂ≠ó‰∏≤‰∏≠ÂåπÈÖçÁöÑÁµêÊûúÂÅöÂÖ®ÈÉ®Âèñ‰ª£(sub),ÊàñÊòØÂèñ‰ª£ÂâçnÂÄãÂåπÈÖçÁµêÊûú;‰ΩøÁî®\1„ÄÅ\2Á¨¶ËôüÂú®Ë¶ÅÈÄ≤Ë°åÂèñ‰ª£ÁöÑÂ≠ó‰∏≤‰∏≠‰ª£Ë°®Ë¶Å‰ΩøÁî®ÁöÑÂåπÈÖçÊÆµ|

In [ ]:
import re

In [ ]:
text = "foo   bar\t baz \tqux"
re.split('\s+',text)#Á©∫ÁôΩTabÁ©∫ÁôΩÊèõË°å

['foo', 'bar', 'baz', 'qux']

In [ ]:
regex = re.compile('\s+')

In [ ]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [ ]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [ ]:
regex.findall(text)#ÊØîÂ∞çÊ®£Âºè

['   ', '\t ', ' \t']

In [ ]:
text ="""Dave dave@google.com
Stteve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9.%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'#r''ÂèØ‰ª•ÂÖçËÑ´ÈÄ∏
#re.IGNORECASEÂèØ‰Ωøregex‰∏çÁÆ°Â§ßÂ∞èÂØ´
regex = re.compile(pattern,flags = re.IGNORECASE)

In [ ]:
regex.findall(text)

['dave@google.com', 'Stteve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [ ]:
m = regex.search(text)
m

In [ ]:
text[m.start():m.end()]

'dave@google.com'

In [ ]:
print(regex.match(text))#Âè™Ê™¢Êü•ÈñãÈ†≠ÊòØÂê¶ÂåπÈÖç

None

In [ ]:
print(regex.sub('REDACTED',text))

Dave REDACTED
REDACTED
Rob REDACTED
Ryan REDACTED

In [ ]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{0,2})'
regex = re.compile(pattern,flags=re.IGNORECASE)

In [ ]:
m = regex.match('wesm@bright.net')
m.groups()

('wesm', 'bright', 'ne')

In [ ]:
regex.findall(text)

[('dave', 'google', 'co'),
 ('Stteve', 'gmail', 'co'),
 ('rob', 'gmail', 'co'),
 ('ryan', 'yahoo', 'co')]

In [ ]:
print(regex.sub(r'User: \1,Domain: \2.Suffix:3',text))

Dave User: dave,Domain: google.Suffix:3m
User: Stteve,Domain: gmail.Suffix:3m
Rob User: rob,Domain: gmail.Suffix:3m
Ryan User: ryan,Domain: yahoo.Suffix:3m

##pandas ‰∏≠ÁöÑÂêëÈáèÂ≠ó‰∏≤ÂáΩÂºè
* ÈÉ®ÂàÜÂêëÈáèÂåñÂ≠ó‰∏≤ÊñπÊ≥ï

| ÊñπÊ≥ïüê± | ÊèèËø∞‚ò∫ |
| ------------- |:-------------:|
|cat|ÂÖÉÁ¥†Á∫ßÂà•ÈÄ≤Ë°åÂÆá‰∏≤Áõ∏Êé•,ÂèØÊåáÂÆöÂàÜÈöîÁ¨¶Ëôü|
|contains|ÂõûÂÇ≥Â∏ÉÊûóÈô£Âàó,ÊåáÂá∫ÊØèÂÄãÂÆá‰∏≤ÊòØÂê¶Á¨¶ÂêàÊåáÂÆöÊ®£Âºè/Ê≠£Ë¶èË°®ÈÅîÂºè|
|count|Ë®àÁÆóÊ®£ÂºèÂá∫ÁèæÁöÑÊ¨°Êï∏|
|extract|Âà©Áî®ÂèØ‰ª•ÂàÜÊÆµÁöÑÊ≠£ËßÑË°®ÈÅîÂºè,ÂæûÂ≠ó‰∏≤Series‰∏≠ÂèñÂá∫‰∏Ä‰∏™ÊàñÂ§öÂÄãÂ≠ó‰∏≤:Ëº∏Âá∫ÁöÑÁµêÊûúÊòØ‰∏ÄÂÄãDataFrameÊØèÂÄãÂàÜÊÆµÊúÉÊúâ‰∏ÄÊ¨Ñ|
|endswith|Á≠âÂêåÊñºÂ∞çÊØèÂÄãÂÖÉÁ¥†ÂÅöx.endswith(pattern)|
|startswitch|Á≠âÂêåÊñºÂ∞çÊØèÂÄãÂÖÉÁ¥†ÂÅöx.startswith(pattern)|
|findall|ÊâæÂá∫Â≠ó‰∏≤ÂêåÊâÄÊúâÂåπÈÖçÊ®£ÂºèÊàñregexÁöÑÁµêÊûú|
|get|Á¥¢ÂºïÂá∫ÂÖÉÁ¥†(ÂèñÂõûÁ¨¨iÂÄãÂÖÉÁ¥†)|
|isalnum|Á≠âÂêåÊñºÂÖßÂª∫ÁöÑstr.alnum|
|isalpha|Á≠âÂêåÊñºÂÖßÂª∫ÁöÑstr.isalpha|
|isdecimal|Á≠âÂêåÊñºÂÖßÂª∫ÁöÑstr.decimal|
|isdigit|Á≠âÂêåÊñºÂÖßÂª∫ÁöÑstr.digit|
|islower|Á≠âÂêåÊñºÂÖßÂª∫ÁöÑstr.lower|
|isnumeric|Á≠âÂêåÊñºÂÖßÂª∫ÁöÑstr.isnumeric|
|isupper|Á≠âÂêåÊñºÂÖßÂª∫ÁöÑstr.isupperc|
|join|Âü∑Ë°åSeries‰∏≠ÂÖÉÁ¥†Á∫ßÁöÑÂ≠óÁõ∏Êé•,ÂèØÊåáÂÆöÂàÜÈöîÁ¨¶Ëôü|
|len|Ë®àÁÆóÊØèÂÄãÂ≠ó‰∏≤ÁöÑÈï∑Â∫¶|
|lower, upper|ËΩâÊèõÂ§ßÂ∞èÂØ´;Á≠âÂêåÊñºÂ∞çÊØèÂÄãÂÖÉÁ¥†ÂÅöx.1ower()Êàñx.upper()|
|match|ÊåáÂÆöË¶ÅÁî®ÁöÑÊ≠£Ë°®ÈÅîÂºèÂæå,Â∞çÊØèÂÄãÂÖÉÁ¥†ÂÅöre.match,Â∑≤listÂõûÂÇ≥ÊØèÂÄãÂåπÈÖçÁöÑÂàÜÊÆµÁæ§ÁµÑ|
|pad|Âú®Â≠ó‰∏≤ÁöÑÂ∑¶„ÄÅÂè≥ÊàñÂÖ©ÈÇäÂä†‰∏äÁ©∫ÁôΩ|
|center|Á≠âÂêåÊñºpad(side='both')|
|repeat|Ë§áË£ΩÂ≠ó‰∏≤(‰æãÂ¶Çs.str.repeat(3)Á≠âÂêåÊñºÂ∞çÊØèÂÄãÂ≠ó‰∏≤ÂÅöx*3ÁöÑÂãï‰Ωú)|
|replace|Â∞áÁ¨¶ÂêàÊ®£Âºè/regexÁöÑÂ≠ó‰∏≤,ÊõøÊç¢ÊàêÂÖ∂‰ªñÂ≠ó‰∏≤|
|slice|Â∞çSeries‰∏≠ÊØèÂÄãÂ≠ó‰∏≤‰ΩúÂàáÁâá|
|split|Áî®ÊåáÂÆöÂàÜÁ¨¶ËôüÊàñÊ≠£Ë¶èË°®ÈÅîÂºè‰ΩúÂ≠ó‰∏≤ÂàÜÊÆµ|
|strip|Â∞áÂ≠ó‰∏≤ÂâçÂæåÁöÑÁ©∫ÁôΩÂéªÊéâ,ÂåÖÊã¨ÊèõË°åÁ¨¶Ëôü|
|rstrip|Â∞áÂ≠ó‰∏≤ÂæåÁöÑÁ©∫ÁôΩÂéªÊéâ|
|lstrip|Â∞áÂ≠ó‰∏≤ÂâçÁöÑÁ©∫ÁôΩÂéªÊéâ|

In [38]:
data = {'Dave':'dave@google.com','Steve':'steve@gmail.com','Rob':'rob@gmail.com','Wes':np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [ ]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [ ]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [ ]:
pattern='([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'
pattern

'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\\.([A-Z]{2,4})'

In [ ]:
data.str.findall(pattern,flags = re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [ ]:
matches = data.str.match(pattern,flags = re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [ ]:
data.str[:5]#ÂÅöÂàáÁâá

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object